{% extends "base.html" %} {% block content %}

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Subir Imagen...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="text-align: center;">
        <div class="img-preview" style="text-align: center;">
            <div id="imagePreview" style="text-align: center;">
            </div>
        </div>
        <div>
            <button type="button" class="upload-label" id="btn-predict">Clasificar</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>
	<br></br>
    <h3 id="result">
        <span> </span>
    </h3>

</div>

{% endblock %}